---
import Layout from '@/layouts/Layout.astro'

import {Button} from '@/components/ui/button'
import {ChevronRight} from 'lucide-react'
import {Image} from 'astro:assets'

import ConsolesGroupImage from '@/assets/consolas-group.png'
import GetInTouchSection from '@/sections/home/get-in-touch'
import OurServicesSection from '@/sections/home/services'
import BrandsSection from '@/sections/home/brands'
---

<Layout>
  <main class="flex-1">
    <section
      class="text-center lg:text-left w-full h-[90vh] lg:h-[calc(80vh-60px)] flex items-center pt-12 px-6 sm:px-10 md:px-20 md:pt-10 lg:py-28 xl:py-48 bg-gradient-to-br from-blue-200 via-white to-blue-100 overflow-hidden"
    >
      <div class="container px-4 md:px-6">
        <div
          class="flex flex-col items-center justify-center lg:grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]"
        >
          <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-4">
              <h1
                class="text-4xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-[#E72647] md:h-36"
              >
                Eleva tu Experiencia de Juego al M치ximo
              </h1>
              <p class="max-w-[600px] text-gray-500 md:text-xl">
                Explora los juegos m치s recientes, las consolas m치s avanzadas y
                servicios de reparaci칩n especializados, todo reunido en un solo
                lugar para ti.
              </p>
            </div>
            <div
              class="flex flex-col justify-center lg:justify-start z-10 gap-2 min-[400px]:flex-row"
            >
              <a href="#featured-products">
                <Button size="lg" variant="gradient"> Comprar ahora </Button>
              </a>
              <a href="#services">
                <Button size="lg" variant="outline">
                  Nuestros Servicios
                </Button>
              </a>
            </div>
          </div>
          <div
            class="relative lg:order-last h-[30vh] w-[80vw] xl:h-[45vh] lg:w-[30vw] flex items-center self-center lg:self-start -mb-10 sm:-mb-16 lg:mb-0"
          >
            <div
              class="absolute inset-0 bg-[#ff99ac] bg-hero rounded-3xl blur-2xl"
            >
            </div>
            <div class="relative mx-auto">
              <Image
                alt="Gaming Setup"
                class="rounded-xl object-cover sm:w-full"
                src={ConsolesGroupImage}
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      id="featured-products"
      class="w-full py-12 md:py-24 lg:py-32 bg-white"
    >
      <div class="container px-4 md:px-6">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12"
        >
          Featured Products
        </h2>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
          {
            [
              {
                name: 'Latest AAA Game',
                price: '$59.99',
                image: '/placeholder.svg?height=300&width=300',
              },
              {
                name: 'Next-Gen Console',
                price: '$499.99',
                image: '/placeholder.svg?height=300&width=300',
              },
              {
                name: 'Pro Gaming Headset',
                price: '$129.99',
                image: '/placeholder.svg?height=300&width=300',
              },
              {
                name: '4K Gaming Monitor',
                price: '$349.99',
                image: '/placeholder.svg?height=300&width=300',
              },
            ].map((product, i) => (
              <div class="group relative overflow-hidden rounded-lg shadow-sm hover:shadow-2xl transition-transform hover:scale-105 bg-neutral-100">
                <img
                  alt={product.name}
                  class="object-cover w-full h-60"
                  height="300"
                  src={product.image}
                  width="300"
                />
                <div class="absolute inset-0 flex items-end justify-center p-4 bg-gradient-to-t from-slate-500 to-transparent opacity-0 group-hover:opacity-100 transition-opacity">
                  <div class="text-center">
                    <h3 class="text-lg font-semibold text-white mb-2">
                      {product.name}
                    </h3>
                    <p class="text-sm text-gray-300 mb-4">{product.price}</p>
                    <Button
                      size="sm"
                      className="bg-[#E72647] hover:bg-[#E72647]/90 text-white"
                    >
                      Add to Cart
                    </Button>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
        <div class="mt-12 text-center">
          <a href="/products">
            <Button variant="destructive">
              View All Products
              <ChevronRight
                className="ml-2 h-4 w-4 group-hover:translate-x-1 transition-transform"
              />
            </Button>
          </a>
        </div>
      </div>
    </section>
    <OurServicesSection client:load />
    <section class="w-full py-12 md:py-24 lg:py-32">
      <div
        class="container px-4 py-16 md:px-6 mx-auto bg-slate-800 xl:rounded-2xl"
      >
        <div
          class="flex flex-col items-center justify-center space-y-4 text-center"
        >
          <BrandsSection />
        </div>
      </div>
    </section>

    <GetInTouchSection />
  </main>
</Layout>
